@font-face {
  font-family: "mini-icon2"; /* Project id 3975577 */
  src: url('@/static/icon/C/iconfont.woff2?t=1716346963230') format('woff2'),
       url('@/static/icon/C/iconfont.woff?t=1716346963230') format('woff'),
       url('@/static/icon/C/iconfont.ttf?t=1716346963230') format('truetype');
}

.mini-icon2 {
  font-family: "mini-icon2" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mini-xuanpiao:before {
  content: "\e719";
}

.mini-shanchu:before {
  content: "\e60f";
}

.mini-youhua:before {
  content: "\e73c";
}

.mini-fangke:before {
  content: "\e678";
}

.mini-w_jinbi:before {
  content: "\e673";
}

.mini-jinbi1:before {
  content: "\e6b1";
}

.mini-shoushoushi:before {
  content: "\e6d1";
}

.mini-dianzan:before {
  content: "\e8c3";
}

.mini-shizhongfill:before {
  content: "\e74e";
}

.mini-anquanbaozhang-mian:before {
  content: "\e63e";
}

.mini-lianxi:before {
  content: "\e70a";
}

.mini-womaichude:before {
  content: "\e70b";
}

.mini-ershou:before {
  content: "\e61f";
}

.mini-qijiandian:before {
  content: "\e701";
}

.mini-gerendian:before {
  content: "\e702";
}

.mini-getigongshanghu:before {
  content: "\e703";
}

.mini-putongqiye:before {
  content: "\e705";
}

.mini-pingguo2:before {
  content: "\e704";
}

.mini-pingguo:before {
  content: "\e610";
}

