::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
}

.search-box {
    margin: 20rpx 30rpx;
    width: 686rpx;
    height: 80rpx;
    border-radius: $uni-border-radius-base;
    display: flex;
    align-items: center;
    border: 2rpx solid;
	@include background_color(page-box-background-color);
	@include border_color(border-color-box-item-background-color);
}

.search-box .icon {
    width: 38rpx;
    height: 38rpx;
    margin: 0 15rpx 0 30rpx;
}

.search-box .input {
    width: 510rpx;
    font-size: $uni-font-size-sm-base;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.del {
    margin-left: 30rpx;
    width: 38rpx;
    height: 38rpx;
	font-size: 38rpx;
	display: inline;
	@include color(color-lightest-dark);
}

.placeholder {
    margin-top: 4rpx;
    font-size: $uni-font-size-sm;
    font-weight: 500;
    @include color(color-lightest-dark);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    width: 750rpx;
    height: 110rpx;
    padding-bottom: 10rpx;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.nav_items {
    flex-shrink: 0;
    margin-left: 20rpx;
    height: 70rpx;
    padding: 0 32rpx;
    flex-shrink: 0;
    border-radius: $uni-border-radius-lg-est;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $uni-font-size-sm;
    font-weight: bold;
    @include color(color-lightest-dark);
	@include background_color(page-box-background-color);
    border: 2rpx solid;
	@include border_color(border-color-box-item-background-color);
}

.nav_items:first-of-type {
    margin-left: 30rpx;
}

.active {
    @include color(color-light-dark);
    border: 2rpx solid $uni-color-shop-primary;
    background-color: $uni-color-shop-primary;
}


.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 商品list */
.shop-box {
    box-sizing: border-box;
    margin: 10rpx 0 20rpx;
    width: 686rpx;
    height: 400rpx;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include background_color(page-body-background-color);
    border: 2rpx solid;
	@include border_color(border-color-body-background-color);
    border-radius: 30rpx;
    transition: all 0.3s ease-in-out;
}

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 30rpx;
    overflow: hidden;
    z-index: 9;
}

.swiper .wx-swiper-dot {
    width: 30px;
    height: 2px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s;
}

.swiper .wx-swiper-dot.wx-swiper-dot-active {
    @include background_color(page-box-background-color);
}

.shop-box-cover {
    width: 100%;
    height: 100%;
    animation: fadeIn 0.6s ease;
}

.shop-box .shop-info {
    position: absolute;
    z-index: 10;
    left: 20rpx;
    right: 20rpx;
    bottom: 40rpx;
    padding: 20rpx;
    border-radius: 20rpx;
    background: hsla(0, 0%, 100%, 0.6);
    backdrop-filter: blur(10px);
    border: 2rpx solid;
	@include border_color(border-color-box-item-background-color);
    box-shadow: 4px 4px 10px 0 rgba(55, 99, 170, 10%), -4px -4px 10px 0 #00000010;
}

.shop-info .shop-info-title {
    width: 500rpx;
    margin-top: 12rpx;
    @include color(color-light-dark);
    font-size: $uni-font-size-sm-base;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.shop-info .shop-info-duce {
    width: 500rpx;
    color: #444444;
    font-size: 22rpx;
    font-weight: 500;
    line-height: 32rpx;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.info-bur {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop-info-price-box {
    display: flex;
    align-items: flex-end;
}

.price {
    display: flex;
    align-items: flex-start;
}

.price .price-text {
    margin-left: 10rpx;
    font-size: 18rpx;
    font-weight: 900;
}

.original-price {
    margin-left: 20rpx;
    @include color(color-lighter-er-dark);
    font-weight: 500;
    font-size: $uni-font-size-sm;
}

.info-img {
    width: 68rpx;
    height: 68rpx;
    border-radius: 68rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $uni-color-shop-primary;
    box-shadow: 5px 5px 5px -4px rgba(51, 51, 51, 0.3);
}

.info-img .mini-icon {
    color: #ffffff;
}

.shop-info .shop-info-tag {
    display: flex;
    align-items: center;
}

.shop-info-tag .tag {
    font-size: 20rpx;
    font-weight: 500;
    @include color(color-light-dark);
    @include background_color(page-box-item-background-color);
    padding: 2rpx 12rpx;
    border-radius: 8rpx;
    margin-right: 10rpx;
}
