.wallpaper-wrap {
		flex: 1;
		width: 750upx;
		min-height: 100vh;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.row {
		flex-direction: row;
	}
	.wallpaper-wrap .grid {
		padding-top: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-left: 5px;
		padding-right: 5px;
		box-sizing: border-box;
	}
	.wallpaper-wrap .item {
		position: relative;
		width: 50%;
		padding-left: 5px;
		padding-right: 5px;
		box-sizing: border-box;
	}
	.panel {
		position: relative;
		overflow: hidden;
		flex-direction: column;
		@include background_color(page-box-background-color);
		margin-bottom: 10px;
	}
	.card-img {
		width: 345upx;
		height: 517upx;
		border-radius: 10rpx;
	}
	.card-num-view {
		background-color: #FF80AB;
		line-height: 1;
		display: inline-block;
		padding: 3px 6px;
		color: #FFFFFF;
		font-size: 12px;
		text-align: center;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
		position: absolute;
		top: 20upx;
		right: 20upx;
		
		transform: scale(0.8);
		transform-origin: right;
	}
	
	.card-bottm {
		justify-content: center;
		align-items: center;
	}
	.car-title-view {
		flex: 1;
		padding: 14upx 0upx 14upx 20upx;
	}
	.card-title {
		flex: 1;
		font-size: 30upx;
		text-align: left;
		@include color(color-lighter-dark);
		text-overflow: ellipsis;
		lines: 2;
		display: -webkit-box;
		white-space: normal;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		font-size: 26upx;
	}