.indicator-num {
        padding: 5rpx 15rpx;
        background: linear-gradient(90deg, #ff9f24 0%, #ff792d 100%);
        border-radius: 100px;
        @include flex;
        justify-content: center;

        .indicator-num__text {
             color: #FFFFFF;
             font-size: 12px;
         }
    }
		.house_cont{
			padding: 30rpx;
			.house_cont--title{
				font-size: 40rpx;
				font-weight: bold;
				
			}
			.house_cont--pirce{
				font-size: 40rpx;
				font-weight: bold;
				color: #ff552e;
				padding-top: 20rpx;
				padding-bottom: 30rpx;
				text{
					font-size: $uni-font-size-sm;
				}
				.type{
					color: #999999;
					padding-left: 10rpx;
				}
			}
			.house_cont--tip{
				padding: 30rpx;
				border-top: #ededed solid 2rpx;
				border-bottom:  #ededed solid 2rpx;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.value{
					font-size: 36rpx;
				}
				.title{
					font-size: $uni-font-size-base;
					padding-top: 10rpx;
					color: #999999;
				}
				.box{
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}
			.house_cont--tags{
				display: flex;
				flex-wrap: wrap;
				padding: 30rpx 0;
				color: #25a8e7;
				font-size: $uni-font-size-base;
				.box{
					border: #25a8e7 solid 2rpx;
					padding: 10rpx 20rpx;
					margin: 0 10rpx 10rpx 0;
				}
			}
			.house_cont--time{
				padding:0 0 30rpx 0;
				font-size: $uni-font-size-base;
			}
			.house_cont--line{
				height: 20rpx;
				background: #f6f6f6;
			}
			.house_cont--map{
				padding-bottom: 30rpx;
				.map{
					width: 100%;
				}
			}
			.house_cont--jieshao{
				font-size: $uni-font-size-sm-base;
				padding-bottom: 30rpx;
			}
			.house_cont--jieshaoTag{
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: space-between;
				font-size: $uni-font-size-sm;
				.box{
					width: 25%;
					padding: 15rpx 0;
					display: flex;
					justify-content: flex-start;
					
				}
			}
			.house_cont--agent{
				padding: 30rpx 0;
				.head{
					display: flex;
					padding-bottom: 20rpx;
					image{
						width: 140rpx;
						height: 140rpx;
						border-radius: 50%;
					}
					.cont{
						padding-left: 30rpx;
						.name{
							font-size: $uni-font-size-medium;
						}
						.company{
							padding: 10rpx 0;
							font-size: $uni-font-size-sm;
						}
						.license{
							border: #e8edf4 solid 2rpx;
							padding: 5rpx;
							font-size: 18rpx;
							display: inline-block;
							color: #bddcf4;
						}
					}
				}
				.comment{
					display: flex;
					background: #f3f3f3;
					border: #dedede solid 2rpx;
					padding: 30rpx;
					.left{
						font-size: 46rpx;
						font-weight: bold;
						text-align: center;
						display:flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						.rage{
							padding-top: 10rpx;
						}
					}
					.right{
						font-size: 22rpx;
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						padding-left: 50rpx;
						.box{
							width: 50%;
							padding: 10rpx 0;
						}
						text{
							color: #9aa0a6;
							padding-right: 10rpx;
						}
					}
				}
			}
			.house_cont--list{
				padding-bottom: 200rpx;
			}
			.flex {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			
			.bottom {
				position: fixed;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 24rpx 32rpx;
				box-shadow: 0rpx -4rpx 24rpx 0rpx rgba(100, 57, 11, 0.08);
				border-radius: 40rpx 0rpx;
				background: #FFFFFF;
			
				.bottom_btn {
					width: 686rpx;
					height: 96rpx;
					background: linear-gradient(90deg, #fe8326 0%, #fe552d 100%);
					border-radius:10rpx;
					margin: 0 auto;
					font-size: 36rpx;
					font-weight: bold;
					color: #FFFFFF;
			
					text {
						font-size: 40rpx;
					}
				}
			}
		}
		.app_bottom {
			padding-bottom: constant(safe-area-inset-bottom);
			/* 兼容 iOS < 11.2 */
			padding-bottom: env(safe-area-inset-bottom);
		}