.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.load-log {
    margin-top: 120rpx;
    width: 68rpx;
    height: 68rpx;
}

.item-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    border-top: 1px solid;
	@include border_color(border-color-box-item-background-color);
}

.item {
    position: relative;
    width: 100%;
    min-height: 216rpx;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 32rpx;
    padding-top: 34rpx;
    padding-bottom: 32rpx;
    @include background_color(page-box-background-color);
}

.item-avatar {
    width: 80rpx;
    height: 80rpx;
    border-radius: 40rpx;
}

.item-middle {
    width: 566rpx;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    margin-left: 24rpx;
}

.item-middle-name {
    font-size: $uni-font-size-base;
    @include color(color-light-dark);
}

.item-middle-content {
    font-size: $uni-font-size-sm-base;
	@include color(color-lighter-dark);
    margin-top: 8rpx;
    font-weight: 500;
}

.item-middle-time {
    font-size: $uni-font-size-sm;
    @include color(color-lightest-dark);
    margin-top: 26rpx;
}

.empty-view {
    margin-top: 300rpx;
}

.see-posts {
    margin: 30rpx 0;
    width: 220rpx;
    height: 70rpx;
    border-radius: 70rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    @include color(color-light-dark);
    font-size: $uni-font-size-base;
	@include background_color(page-box-item-background-color);
	.mini-icon{
		font-size: 43rpx;
		margin-right: 10rpx;
	}
}

.see-posts image {
    width: 38rpx;
    height: 38rpx;
    margin-right: 16rpx;
}

.dian {
    background: #ff6d6d;
    width: 16rpx;
    height: 16rpx;
    border-radius: 16rpx;
}
