.mini-page-wrap{
	.mini-page-body{
		background-color: #141414 !important;
		.creat-wrap.moment{
			height: 100%;
			background-color: #ffffff;
			border-radius: 0 0 20px 20px;
			background-image: radial-gradient(closest-side, rgba(243,202,145,1),rgba(243,202,145,0)), radial-gradient(closest-side, rgba(257,155,132,0.8),rgba(237,157,130,0)), radial-gradient(closest-side, rgba(218,98,84,0.6),rgba(2218,98,84,0)), radial-gradient(closest-side, rgba(218,98,84,0.6),rgba(236,160,146,0));
			background-size: 200vmax 80vmax, 80vmax 60vmax, 160vmax 80vmax, 200vmax 100vmax;
			background-repeat: no-repeat;
			background-position: -40vmax -40vmax, 0vmax -10vmax, -30vmax -40vmax,-70vmax -30vmax;
		}
		.creat-wrap.album{
			.album_wrap{
				height: 100%;
				width: $page-content-body-width;
				margin: auto;
				padding-top: 40rpx;
				box-sizing: border-box;
			}
			
			.album_wrap.photo{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.unused-img-wrap{
					.title {
					    text-align: center;
					    color: rgb(213, 215, 220);
					    margin-top: 50px;
						margin-bottom: 40rpx;
					}
					.list {
					    display: flex;
					    flex-wrap: wrap;
						justify-content: space-between;
						margin-bottom: 40rpx;
						.select-item{
							width: 160rpx;
							height: 160rpx;
							border-radius: 10rpx;
							._image{
								width: 160rpx;
								height: 160rpx;
								border-radius: 10rpx;
							}
						}
					}
				}
				
			}
			
			.album_wrap.video{
				display: flex;
				flex-direction: column;
				justify-content: center;
				.upload-video-button{
					  display: flex;
					  justify-content: center;
					  align-items: center;
					  padding: 18rpx 24rpx;
					  gap: 19rpx;
					  height: 80rpx;
					  width: 344rpx;
					  border: none;
					  background: #FF2849;
					  border-radius: 40rpx;
					  margin: auto;
					  .mini-icon{
						  color: #ffffff;
						  font-size: 50rpx;
					  }
					  .lable {
					    line-height: 44rpx;
					    font-size: $uni-font-size-lg-er;
					    color: #fff;
					    letter-spacing: 2rpx;
					  }
				}
			}
		}
	}
}

.bottom-tabs-wrap{
	width: 750rpx;
	.tabs-inner{
		padding: 0 100rpx;
	}
}