.shop-contact-page{
	width: 750rpx;
	.inner{
		width: $page-content-body-width;
		margin: auto;
		padding-bottom: 200rpx;
		.contact-item{
			display: flex;
			@include background_color(page-box-background-color);
			padding: 20rpx;
			box-sizing: border-box;
			.left{
				display: flex;
				.icon{
					display: flex;
					flex-direction: column;
					justify-content: center;
					margin-right: 30rpx;
					.mini-icon{
						
					}
				}
				.info{
					display: flex;
					flex-direction: column;
					justify-content: center;
					.name{
						font-size: $uni-font-size-base;
					}
					.address_name{
						@include color(color-lightest-dark);
						font-size: $uni-font-size-sm-base;
					}
					.address_detail{
						font-size: $uni-font-size-sm-base;
					}
				}
			}
			.right{
				
			}
		}
		.add-btn{
			position: fixed;
			background-color: $uni-color-primary;
			color: #ffffff;
			height: 70rpx;
			line-height: 70rpx;
			width: 500rpx;
			text-align: center;
			border-radius: 200rpx;
			font-size: $uni-font-size-base;
			bottom: calc( 30rpx + env(safe-area-inset-bottom) );
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.popup-wrap{
	width: 710rpx;
	border-radius: $uni-border-radius-lg-er;
	/* #ifndef APP-NVUE */
		box-sizing: border-box;
	/* #endif */
	padding: 20rpx 0 40rpx;
	@include background_color(page-box-background-color);
	.inner{
		width: 690rpx;
		/* #ifndef APP-NVUE */
		margin: auto;
		/* #endif */
		/* #ifdef APP-NVUE */
		margin-left: 20rpx;
		margin-right: 20rpx;
		/* #endif */
	
		.title{
			width: 100%;
			@include color(color-lighter-er-dark);
			position: relative;
			text-align: center;
			margin-bottom: 20rpx;
			.mini-icon{
				position: absolute;
				right: 0;
				top: 0;
			}
		}
		
		.content{
			.input-wrap{
				display: flex;
				margin-top: 40rpx;
				border-bottom: 1px solid;
				@include border_color(border-color-lighter-line-background-color);
				height: 60rpx;
				padding-bottom: 10rpx;
				.tip{
					font-size: $uni-font-size-base;
					@include color(color-lightest-dark);
					margin-right: 20rpx;
					line-height: 60rpx;
					white-space: nowrap;
				}
				._input{
					font-size: $uni-font-size-base;
					height: 60rpx;
					line-height: 60rpx;
					@include color(color-light-dark);
				}
			}
			.btn-wrap{
				margin-top: 80rpx;
				.btn{
					width: 690rpx;
					text-align: center;
					height: 70rpx;
					line-height: 70rpx;
					background-color: $uni-color-primary;
					color: #ffffff;
					border-radius: 300rpx;
					font-size: $uni-font-size-base;
				}
			}
		}
		
		
	}
}