@font-face {
  font-family: "mini-icon"; /* Project id 3781365 */
  src: url('@/static/icon/A/iconfont.woff2?t=1716347078627') format('woff2'),
       url('@/static/icon/A/iconfont.woff?t=1716347078627') format('woff'),
       url('@/static/icon/A/iconfont.ttf?t=1716347078627') format('truetype');
}

.mini-icon {
  font-family: "mini-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mini-dianpuguanli:before {
  content: "\e717";
}

.mini-xianzhi1:before {
  content: "\e70e";
}

.mini-xianzhi:before {
  content: "\e70c";
}

.mini-tuwen1:before {
  content: "\e64c";
}

.mini-warning:before {
  content: "\e608";
}

.mini-douyin:before {
  content: "\e8db";
}

.mini-a-pinglun2-shi:before {
  content: "\e6a0";
}

.mini-fenxiang-shi:before {
  content: "\e6a3";
}

.mini-shipinxiazai:before {
  content: "\e700";
}

.mini-xie:before {
  content: "\e6fd";
}

.mini-zuju:before {
  content: "\e6fe";
}

.mini-sixin:before {
  content: "\e6fc";
}

.mini-a-1:before {
  content: "\e6fb";
}

.mini-songyang:before {
  content: "\e690";
}

.mini-qiehuan:before {
  content: "\e674";
}

.mini-fufeituiguang:before {
  content: "\e6f2";
}

.mini-fufeituiguang1:before {
  content: "\e6f3";
}

.mini-shipinhao:before {
  content: "\e6f0";
}

.mini-zhibo1:before {
  content: "\e6f1";
}

.mini-laba:before {
  content: "\e612";
}

.mini-tuiguang:before {
  content: "\e6e9";
}

.mini-shangcheng:before {
  content: "\e69e";
}

.mini-gou:before {
  content: "\e63b";
}

.mini-yinpin:before {
  content: "\e6ed";
}

.mini-lianjie:before {
  content: "\e6ee";
}

.mini-shouqi:before {
  content: "\e6ef";
}

.mini-shuxian:before {
  content: "\e607";
}

.mini-shangpin11:before {
  content: "\e6ea";
}

.mini-shipin2:before {
  content: "\e6e4";
}

.mini-dianhua:before {
  content: "\e6e5";
}

.mini-a-12biaoge:before {
  content: "\e6e6";
}

.mini-fujian:before {
  content: "\e6e7";
}

.mini-huati2:before {
  content: "\e6e0";
}

.mini-a-:before {
  content: "\e6df";
}

.mini-biaoqing1:before {
  content: "\e6de";
}

.mini-tianjia1:before {
  content: "\e6dc";
}

.mini-wenzi1:before {
  content: "\e6dd";
}

.mini-tupian21:before {
  content: "\e6e2";
}

.mini-gif:before {
  content: "\e6e3";
}

.mini-quanzi3:before {
  content: "\e6d9";
}

.mini-pailietubiao-26:before {
  content: "\e60e";
}

.mini-lock-full:before {
  content: "\e881";
}

.mini-unlock-full:before {
  content: "\e882";
}

.mini-xiangji1:before {
  content: "\e8bc";
}

.mini-buxihuan:before {
  content: "\e69d";
}

.mini-icon_669:before {
  content: "\e611";
}

.mini-shezhi2:before {
  content: "\e795";
}

.mini-fuzhilianjie:before {
  content: "\e691";
}

.mini-jubao:before {
  content: "\e694";
}

.mini-shengchenghaibao:before {
  content: "\e697";
}

.mini-zhanneizhuanfa:before {
  content: "\e699";
}

.mini-ziyuan:before {
  content: "\e6a5";
}

.mini-pengyouquan1:before {
  content: "\e669";
}

.mini-qq1:before {
  content: "\e66c";
}

.mini-weibo:before {
  content: "\e73c";
}

.mini-Rrl_s_112:before {
  content: "\e62a";
}

.mini-wodehuiyuan:before {
  content: "\e686";
}

.mini-woderenzheng:before {
  content: "\e687";
}

.mini-wodequanzi:before {
  content: "\e683";
}

.mini-zhifumima:before {
  content: "\e688";
}

.mini-xiaofeijilu:before {
  content: "\e689";
}

.mini-wodedingdan:before {
  content: "\e68b";
}

.mini-shouhuodizhi:before {
  content: "\e68d";
}

.mini-wodetuandui:before {
  content: "\e67f";
}

.mini-wodeqianbao:before {
  content: "\e68e";
}

.mini-wodegouwudai:before {
  content: "\e68f";
}

.mini-xiangshang:before {
  content: "\e600";
}

.mini-xiangshang-copy:before {
  content: "\ef5b";
}

.mini-fenxiang2:before {
  content: "\e67e";
}

.mini-shoujihao:before {
  content: "\e6b8";
}

.mini-shanchu3:before {
  content: "\e603";
}

.mini-zhiding2:before {
  content: "\e67a";
}

.mini-yisuoding:before {
  content: "\e696";
}

.mini-beibohui:before {
  content: "\e69b";
}

.mini-shenhezhong1:before {
  content: "\e6ab";
}

.mini-verify:before {
  content: "\e614";
}

.mini-baojiaquotation:before {
  content: "\e640";
}

.mini-baojiaquotation2:before {
  content: "\e69c";
}

.mini-toubi:before {
  content: "\e64f";
}

.mini-dizhi3:before {
  content: "\e634";
}

.mini-fenxiang:before {
  content: "\e61e";
}

.mini-a-pinglun2:before {
  content: "\e620";
}

.mini-chongdian:before {
  content: "\e619";
}

.mini-shoucang-shixin1:before {
  content: "\e629";
}

.mini-shoucang-kongxin1:before {
  content: "\e62c";
}

.mini-xihuan-kongxin:before {
  content: "\e60f";
}

.mini-xihuan-shixin:before {
  content: "\e610";
}

.mini-diandiandain:before {
  content: "\e627";
}

.mini-adtip:before {
  content: "\e6d6";
}

.mini-xingbienv:before {
  content: "\e6ad";
}

.mini-xingbienan:before {
  content: "\e6d5";
}

.mini-fangda_enlarge:before {
  content: "\e6da";
}

.mini-suoxiao:before {
  content: "\e7af";
}

.mini-yuyin:before {
  content: "\e6d4";
}

.mini-yuyin-copy:before {
  content: "\ef5a";
}

.mini-yuyinchehui:before {
  content: "\e904";
}

.mini-icon-24-luyin:before {
  content: "\e6d3";
}

.mini-xiaolian:before {
  content: "\e6d0";
}

.mini-jianpan1:before {
  content: "\e6d2";
}

.mini-flighticowifipsd:before {
  content: "\e6cf";
}

.mini-xiangji:before {
  content: "\e6cd";
}

.mini-hongbao:before {
  content: "\e6ce";
}

.mini-jjia-:before {
  content: "\e6cc";
}

.mini-weibiaoti-1:before {
  content: "\e6ca";
}

.mini-iconset0282:before {
  content: "\e6c9";
}

.mini-nishizhenxuanzhuan:before {
  content: "\e6a2";
}

.mini-shunshizhenxuanzhuan:before {
  content: "\e6c8";
}

.mini-shanchu_delete-two:before {
  content: "\e672";
}

.mini-shanchu2:before {
  content: "\e64d";
}

.mini-dian:before {
  content: "\ec1e";
}

.mini-web-icon-:before {
  content: "\e6db";
}

.mini-circle-shape:before {
  content: "\e692";
}

.mini-fenxiang4:before {
  content: "\e642";
}

.mini-jiangbei:before {
  content: "\e680";
}

.mini-pingguo:before {
  content: "\e616";
}

.mini-pingguo2:before {
  content: "\e705";
}

.mini-yigouxuan:before {
  content: "\e6c4";
}

.mini-weigouxuan:before {
  content: "\e6c5";
}

.mini-jianyizhuxiao:before {
  content: "\e6c2";
}

.mini-shenhe:before {
  content: "\e6be";
}

.mini-biaoqianlan_fuli:before {
  content: "\e6bb";
}

.mini-renzhengguanli1:before {
  content: "\e6ae";
}

.mini-lv2:before {
  content: "\e6af";
}

.mini-lv3:before {
  content: "\e6b0";
}

.mini-lv1:before {
  content: "\e6b2";
}

.mini-lv4:before {
  content: "\e6b3";
}

.mini-lv5:before {
  content: "\e6b4";
}

.mini-lv6:before {
  content: "\e6b5";
}

.mini-vip:before {
  content: "\e6b7";
}

.mini-daifufeizhangdan:before {
  content: "\e6ac";
}

.mini-jinbi2:before {
  content: "\e6aa";
}

.mini-xueyuan-fufeikecheng:before {
  content: "\e6bd";
}

.mini-xiaochengxu1:before {
  content: "\e6a9";
}

.mini-yinle2:before {
  content: "\e6a1";
}

.mini-yue:before {
  content: "\e698";
}

.mini-file1:before {
  content: "\eac3";
}

.mini-jingdong2:before {
  content: "\e693";
}

.mini-wenzi:before {
  content: "\e6ec";
}

.mini-fanhui:before {
  content: "\e7e6";
}

.mini-xiaoxitip:before {
  content: "\e682";
}

.mini-jiazai:before {
  content: "\e67d";
}

.mini-jinggao:before {
  content: "\e681";
}

.mini-guanliyuan:before {
  content: "\e677";
}

.mini-fanhuishouye:before {
  content: "\e679";
}

.mini-tixian:before {
  content: "\e663";
}

.mini-renwu:before {
  content: "\e666";
}

.mini-choujiang:before {
  content: "\e667";
}

.mini-tuikuan:before {
  content: "\e66a";
}

.mini-qiandao1:before {
  content: "\e66b";
}

.mini-tuikuan1:before {
  content: "\e685";
}

.mini-zhiding1:before {
  content: "\e657";
}

.mini-Gold_coin_01:before {
  content: "\e656";
}

.mini-qianbao1:before {
  content: "\e655";
}

.mini-icon-mianxing_fuzhi_jine-jinbi:before {
  content: "\e652";
}

.mini-qianbipencil86:before {
  content: "\e6bf";
}

.mini-toupiao-m1:before {
  content: "\e671";
}

.mini-toupiao-m:before {
  content: "\e64b";
}

.mini-quan:before {
  content: "\e741";
}

.mini-shangpin1:before {
  content: "\e675";
}

.mini-xunhuan:before {
  content: "\e636";
}

.mini-yuzhouxingqiu-01:before {
  content: "\e633";
}

.mini-lianxi-yixiajia:before {
  content: "\e6ff";
}

.mini-shejiaotubiao-44:before {
  content: "\e64a";
}

.mini-pinduoduo:before {
  content: "\e8df";
}

.mini-public:before {
  content: "\e62e";
}

.mini-yiguanzhu:before {
  content: "\e630";
}

.mini-yiguanzhu1:before {
  content: "\e6d8";
}

.mini-pengyouquan:before {
  content: "\e684";
}

.mini-haibao:before {
  content: "\e61b";
}

.mini-weixin1:before {
  content: "\e61c";
}

.mini-xiangyou:before {
  content: "\e639";
}

.mini-jia:before {
  content: "\e618";
}

.mini--jia:before {
  content: "\e651";
}

.mini-shipin1:before {
  content: "\e61a";
}

.mini-chacha:before {
  content: "\e62f";
}

.mini-31erweima:before {
  content: "\e601";
}

.mini-remen1:before {
  content: "\e6a7";
}

.mini-guanyuwomen1:before {
  content: "\e602";
}

.mini-gengduo1:before {
  content: "\e643";
}

.mini-qianbao:before {
  content: "\e613";
}

.mini-kefu:before {
  content: "\e665";
}

.mini-bangzhu:before {
  content: "\e63f";
}

.mini-saoyisao:before {
  content: "\e645";
}

.mini-jilu:before {
  content: "\e646";
}

.mini-shanchu:before {
  content: "\e74b";
}

.mini-zhengcefagui3:before {
  content: "\e65a";
}

.mini-kefufenxiermaikefu:before {
  content: "\e889";
}

.mini-shanchu1:before {
  content: "\e653";
}

.mini-sousuo1:before {
  content: "\e622";
}

.mini-fenxiang1:before {
  content: "\e86e";
}

.mini-dizhi2:before {
  content: "\e60c";
}

.mini-jiahao-:before {
  content: "\e606";
}

.mini-shangjiantou:before {
  content: "\e61d";
}

.mini-youjiantou:before {
  content: "\e647";
}

.mini-xiajiantou:before {
  content: "\e632";
}

.mini-tupian2:before {
  content: "\e623";
}

.mini-shengming:before {
  content: "\e628";
}

.mini-arrowLeft:before {
  content: "\e65d";
}

.mini-arrowRight:before {
  content: "\e65e";
}

.mini-arrowBottom:before {
  content: "\e65f";
}

.mini-arrowTop:before {
  content: "\e660";
}

.mini-zuojiantou:before {
  content: "\e609";
}

.mini-tubiaozhizuomoban-mian_quanzi:before {
  content: "\e617";
}

.mini-jilu1:before {
  content: "\e69f";
}

.mini-a-weibiaoti-8_huaban1:before {
  content: "\e66e";
}

.mini-a-weibiaoti-7_huaban1:before {
  content: "\e66f";
}

.mini-a-weibiaoti-10_huaban1:before {
  content: "\e66d";
}

.mini-fenxiang3:before {
  content: "\e626";
}

.mini-zhifubao:before {
  content: "\e68a";
}

.mini-duigouxiao:before {
  content: "\e8bd";
}

.mini-xiazai2:before {
  content: "\e63c";
}

.mini-QQ:before {
  content: "\e876";
}

.mini-anonymous-iconfont-green:before {
  content: "\e605";
}

.mini-fuzhi:before {
  content: "\e621";
}

.mini-weixin:before {
  content: "\e60b";
}

.mini-a-mianxing:before {
  content: "\e650";
}

